<?xml version="1.0" encoding="UTF-8"?>
<suite name="A4" verbose="1" preserve-order="true">
    <test name="Regression Suite">
        <classes>
            <class name="com.generic.functional.automation.ui.tests.login.LoginLogoutAutomation"/>
            <class name="com.generic.functional.automation.ui.tests.login.HomeScreenAutomation"/>
        </classes>
    </test>
</suite>
